<a routerLink="/">Home</a>
<a routerLink="profile">Profile</a>
<div class="container">
  <div class="header">
    <div class="header__logo">
      <a href="/"> <img src="assets/food.png" alt="" /></a>
    </div>

    <div class="header__search">
      <input type="text" class="search-input" placeholder="Search" />
      
    </div>
    <div class="header__nav">
      <ul class="header__ul">
        <li class="header__li">
          <a href="/">Restaurants</a>
        </li>
        <li class="header__li">
          <a href="/">Deals</a>
        </li>
        <li class="header__li">
          <a href="/">My orders</a>
        </li>
       
      </ul>
    </div>
    <a href="">
        <img src="assets/basket.png" alt="basket" />
        <img src="assets/avatar.png" alt="" />
      </a>
   
      
   
    
      
    
  </div>
</div>
