<div class="container">
  <div class="category">
    <div class="category__list">
      <div class="categoty__item">
        <div class="category-item__img">
          <img src="assets/emoji1.png" alt="" />
        </div>
        <div class="category-item__desc"><a href="/">Pizza</a></div>
      </div>

      <div class="categoty__item">
        <div class="category-item__img">
          <img src="assets/emoji2.png" alt="" />
        </div>
        <div class="category-item__desc"><a href="/">Burger</a></div>
      </div>

      <div class="categoty__item">
        <div class="category-item__img">
          <img src="assets/emoji3.png" alt="" />
        </div>
        <div class="category-item__desc"><a href="/">BBQ</a></div>
      </div>

      <div class="categoty__item">
        <div class="category-item__img">
          <img src="assets/emoji4.png" alt="" />
        </div>
        <div class="category-item__desc"><a href="/">Sushi</a></div>
      </div>

      <div class="categoty__item">
        <div class="category-item__img">
          <img src="assets/emoji5.png" alt="" />
        </div>
        <div class="category-item__desc"><a href="/">Vegan</a></div>
      </div>

      <div class="categoty__item">
        <div class="category-item__img">
          <img src="assets/emoji6.png" alt="" />
        </div>
        <div class="category-item__desc"><a href="/">Vegan</a></div>
      </div>
    </div>
  </div>
</div>
