<div class="container">
  <div class="adv">
    <div class="adv__desert">
      <div class="adv__desert-img">
        <img src="assets/desert.png" alt="desert" />
      </div>
      <div class="adv__all-desert">
        <div class="adv__desert-title">All deserts</div>
        <div class="adv__desert-discount">20% OFF</div>
        <div class="adv__desert-desc">Deserty</div>
      </div>
    </div>

    <div class="adv__burg">
      <div class="adv__burg-img">
        <img src="assets/bigburg.png" alt="bigburg" />
      </div>
      <div class="adv__fooddies">
        <div class="adv__burg-title">Big Burgers</div>
        <div class="adv__burg-discount">50% OFF</div>
        <div class="adv__burg-desc">Fooddies</div>
      </div>
    </div>
  </div>
</div>
